.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    @include media ("<=desktop") {
        padding-top: 20px;
    }   
}