.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    @include media ("<=tablet") {
        border-bottom: 2px solid #1a3255;
    }
    .h3 {
        margin: 35px 0 60px 0;
        text-align: center;
        max-width: 800px;
        @include media ("<=desktop") {
            margin: 20px 0;
            max-width: 90vw;
        }
    }
    .contact-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 860px;
        text-align: center;
        @include media ("<=desktop") {
            flex-direction: column;
            align-items: center;
            width: 90vw;
        }
        .city {
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin-bottom: 10px;
            @include media ("<=desktop") {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }   
            img {
                transition: opacity .3s ease-in-out; 
                &:hover {
                    opacity: .7;
                }
                @include media ("<=tablet") {
                    height: 150px;
                }
            }
            .h4 {
                font-size: 18px;
                font-weight: 100;
                color: #787878;
                max-width: 150px;
                margin: 25px 0 15px 0;
                @include media ("<=desktop") {
                    margin: 10px 0;
                }
                &::after {
                    background-color: #1a3255;
                    display: block;
                    content: "";
                    margin: 10px auto 5px auto;
                    height: 2px;
                    width: 12px;
                    @include media ("<=desktop") {
                        margin: 10px auto;
                    }
                }
            }
            .address {
                font: normal normal normal 16px/1.2 Open+Sans;
                color: #787878;
                text-align: center;
                max-width: 150px;
                min-height: 75px;
                margin-bottom: 25px;
                @include media ("<=desktop") {
                    margin-bottom: 10px;
                }
            }
            p {
                color: #787878;
                font-size: 14px;
                max-width: 220px;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #1a52a7;
                    text-decoration: none;
                    font-weight: 400;
                    transition: opacity .3s ease-in-out; 
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }  
    }
}