.currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media ("<=tablet") {
        display: none;
    }
    .tab {
        display: flex;
        justify-content: center;
        align-items: baseline;
        overflow: hidden;
        width: 400px;
        margin-bottom: 10px;
        p {
            font-size: 14px;
            color: #787878;
            margin: 0 5px 0 0;
        }
        button {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            color: #787878;
            transition: 0.3s;
            padding: 0 8px;
            transition: color .3s ease-in-out; 
            &:hover {
                color: #769eca;
            }
            &.active {
                color:#769eca;
            }
        }
    }
    .tabcontent {
        display: none;
        width: 100%;
        overflow: hidden;
        align-items: flex-start;
        white-space: nowrap; 
        animation: marquee 20s linear infinite;
        background: #1a3255;
        padding: 10px 0;
        .name-currency {
            color: #486890;
            margin-right: 10px;
        }
        .course {
            color: #ffffff;
            margin-right: 35px; 
        } 
    }
    @keyframes marquee {
        0% { text-indent: 100%; }
        100% { text-indent: -270%; }
    }
}