.intro {
    video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 3;
        @include media ("<=desktop") {
            display: none;
           }
    }
    .poster {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100%;
        background: url(../images/poster.jpg) no-repeat center top / cover; 
        @include media ("<=desktop") {
            background: url(../images/mobile-bg-header.jpg) no-repeat center top / cover;
        }
    }
}