.legal-info {
    padding: 100px 0;
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    @include media ("<=tablet") {
        display: none;
    }
    .legal-info-text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        @include media ("<=desktop") {
            margin-top: 20px;
        }
        p {
            font-size: 14px;
            line-height: 1.4em;
            color: #787878;
            column-count: 3;
            max-height: 180px;
            max-width: 975px;
            padding: 0 20px;
        }
    }
}