.management {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0 0;
    @include media ("<=desktop") {
        padding: 20px 0 20px 0;
    }
    .btn-management {
        border: 1px solid #1a3255;
        background: transparent;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        color: #1a3255;
        width: 170px;
        min-height: 50px;
        margin-top: 35px;
        padding: 5px;
        transition: background-color .3s ease-in-out; 
        .fa-arrow-right {
            font-size: 12px;
            margin-left: 10px;
        }
        &:hover {
            background-color: #e6ebf0;
        }
    }
    .newTeam {
        @include media ("<=desktop") {
            margin-top: 40px!important;
        }
        @include media ("<=phone") {
            margin: 0!important;
        }
    }
   .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    max-width: 90vw;
    margin: 60px 0 0px 0;
    @include media ("<=widescreen") {
        grid-gap: 30px;
    }
    @include media ("<=desktop") {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        margin: 20px 0 0 0;
    }
    @include media ("<=phone") {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
            .member-img {
                img {
                transition: opacity .3s ease-in-out;
                    &:hover {
                        opacity: 0.7;
                    }
                    @include media ("<=tablet") {
                        height: 120px;
                    }
                }
            } 
            @include media ("<=desktop") {
                margin-top: 20px;
            }
            @include media ("<=phone") {
                margin-top: 10px;
            }
            p {
                font-size: 17px;
                text-align: center;
                max-width: 160px;
                min-height: 20px;
                margin-top: 15px;
                transition: opacity .3s ease-in-out;
                &:hover {
                    opacity: 0.7;
                } 
                span {
                    font-size: 13px;
                }

                @include media ("<=phone") {
                    margin-top: 10px;
                }
            }
            a {
                text-decoration: none;
                color: #787878;
            }
            .link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100px;
                max-width: 110px;
                height: 26px;
                min-height: 10px;
                margin-top: -15px;
                @include media ("<=desktop") {
                    width: 50px;
                    max-width: 50px;
                    margin-top: -15px;
                }
                .linkedin {
                    img {
                    height: 19px;
                    transition: opacity .3s ease-in-out;
                    &:hover {
                        opacity: 0.7;
                        }
                    }
                }    
                .email {
                    img {
                        height: 23px;
                        transition: opacity .3s ease-in-out;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .vcard {
                    font-size: 14px;
                    font-weight: 700;
                    color: #1a3255;
                    transition: opacity .3s ease-in-out;
                    &:hover {
                        opacity: 0.7;
                    }
                    @include media ("<=desktop") {
                        display: none;
                    }
                }
            }
        }
    } 
}
