.nav-menu-header {
    display: flex;
    padding-top: 10px;
    @include media ("<=desktop") {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 40px;
        left: -60px;
        background: #377eb1;
    }
    a {
        display: block;
        text-decoration: none;
        color: #fff;
        max-width: 110px;
        min-height: 30px;
        &::after {
           background-color: #fff;
           display: block;
           content: "";
           margin-top: 10px;
           height: 1px;
           width: 0%;
           transition: width .3s ease-in-out; 
           @include media ("<=desktop") {
            margin-top: 6px;
           }
        }
        &:hover::after {
            width: 100%;
        }
        @include media ("<=desktop") {
            min-width: 100vw;
            padding: 5px 0 5px 40px;
        }
    }
    li {
        list-style: none;
        margin-right: 50px;
        &:last-child {
            margin-right: 0px;
        }
        @include media ("<=widescreen") {
            margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &.active {
        display: flex;
    }
}