.nav-footer-sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.8em;
    max-width: 1000px;
    margin-bottom: 50px;
    @include media ("<=tablet") {
        display: none;
    }
    li {
        list-style: none;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-size: 14px;
        color: #1a3255;
        text-decoration: none;
        transition: text-decoration .3s ease-in-out; 
        &:hover {
            text-decoration: underline;
        }
    }
}