.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a3255;
    padding: 80px 0 100px 0;
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    @include media ("<=tablet") {
        display: none;
    }
    .h2 {
        color: #fff;
    }
    .h3 {
        color: #fff;
        max-width: 480px;
        margin: 38px auto 0px auto;
    }
    .btn-questions {
        border: 1px solid #fff;
        background: transparent;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        width: 170px;
        min-height: 50px;
        padding: 5px;
        transition: background-color .3s ease-in-out;
        .fa-arrow-right {
            font-size: 12px;
            margin-left: 10px;
        }
        &:hover {
            background-color: #3b648d;
        }
    }
}
.questions-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px 0 40px 0;
    max-width: 740px;
    max-height: 190px;
    span {
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        top: -25px;
        left: 10px;
        color: #95a0b0;
    }
    input {
        color: #fff;
        background: #2a4061;
        border: none;
        width: 355px;
        height: 50px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &::placeholder {
            color: #95a0b0;
        }
    }
    textarea {
        color: #fff;
        background: #2a4061;
        border: none;
        width: 355px;
        height: 190px;
        &::placeholder {
            color: #95a0b0;
        }
    }
    .error {
        font-size: 14px;
        color: yellow;
    }
    #name-error {
        position: absolute;
        top: 52px;
        left: 10px;
    }
    #email-error {
        position: absolute;
        top: 122px;
        left: 10px;
    }
    #tel-error {
        position: absolute;
        top: 192px;
        left: 10px;
    }
    #textarea-error {
        position: absolute;
        top: 192px;
        right: 225px;
    }
    input.error,
    textarea.error {
        border: 1px solid red;
    }   
}