.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a3255;
    min-height: 200px;
    padding: 80px 0;
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    .registration-text {
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
        @include media ("<=desktop") {
            margin-bottom: 20px;
            max-width: 90vw;
        }
    }
    .form-registration {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 730px;
        @include media ("<=desktop") {
            flex-direction: column;
            align-items: center;
            max-width: 90vw;
        }
        .name {
            @include media ("<=desktop") {
                margin-bottom: 20px;
            }
        }
        .name, .email {
            color: #fff;
            background: #2a4061;
            border: none;
            width: 350px;
            height: 50px;
            @include media ("<=desktop") {
                max-width: 90vw;
            }
        }
        label.error {
            position: absolute;
            top: 55px;
            right: 50px;
            color: yellow;
            @include media ("<=desktop") {
                top: 120px;
                right: auto;
                font-size: 16px;
            }
        }
        #name-error {
            position: absolute;
            top: 55px;
            left: 10px;
            @include media ("<=desktop") {
                top: 50px;
                left: auto;
                font-size: 16px;
            }
        }
        .error {
            color: red;           
        }
        .name.error,
        .email.error {
            border: 1px solid red;
        }
    }
    .btn-registration {
        border: 1px solid #fff;
        background: transparent;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        width: 170px;
        min-height: 50px;
        margin-top: 40px;
        padding: 5px;
        transition: background-color .3s ease-in-out; 
        .fa-arrow-right {
            font-size: 12px;
            margin-left: 10px;
        }
        &:hover {
            background-color: #3b648d;
        }
    }
}