.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:    20px 0 60px 0;
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    .h3 {
        margin: 36px auto 42px auto;
        max-width: 790px;
        @include media ("<=desktop") {
            font-size: 18px;
            margin: 15px auto;
            max-width: 80vw;
        }
        @include media ("<=phone") {
            max-width: 90vw;
        }
    }
    .block-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        max-width: 975px;
        margin: 10px auto 0 auto;
        @include media ("<=desktop") {
            grid-template-columns: 1fr;
            grid-gap: 10px;
            max-width: 90vw;
        }
        .newArticles {
            padding-top: 20px;
        }
        .article-title {
            max-width: 400px;
            min-height: 20px;
            color: #1a3255;
            text-decoration: none;
            transition: text-decoration .3s ease-in-out; 
            &:hover {
                text-decoration: underline;
            }
            @include media ("<=desktop") {
                max-width: 90vw;
            }
        }
        .article-text {
            max-width: 440px;
            min-height: 20px;
            font-size: 13px;
            color: #787878;
            margin-bottom: 17px;
            @include media ("<=desktop") {
                max-width: 80vw;
            }
        }
        .read-more {
            font-size: 14px;
            font-weight: bold;
            color: #1a3255;
            text-decoration: none;
            max-width: 100px;
            min-height: 20px;
            transition: opacity .3s ease-in-out; 
            &:hover {
                opacity: 0.7;
            }
            .fa-arrow-right {
                font-size: 10px;
                margin-left: 8px;
                }
            }
        }
        .btn-resources {
            border: 1px solid #1a3255;
            background: transparent;
            outline: none;
            font-size: 14px;
            font-weight: bold;
            color: #1a3255;
            width: 170px;
            min-height: 50px;
            margin-top: 36px;
            padding: 5px;
            transition: background-color .3s ease-in-out; 
            @include media ("<=desktop") {
                margin-top: 20px;
            }
            .fa-arrow-right {
                font-size: 12px;
                margin-left: 10px;
            }
            &:hover {
                background-color: #e6ebf0;
            }
        }
    }
    .brochures {
        color: #787878;
        text-align: center;
        margin: 44px auto 36px auto;
        max-width: 600px;
        min-height: 20px;
        @include media ("<=tablet") {
            margin: 15px auto;
            max-width: 80vw;
        }
        @include media ("<=phone") {
            max-width: 90vw;
        }
    }
    .brochures-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        max-width: 700px;   
        @include media ("<=tablet") {
            grid-template-columns: 1fr;
            grid-gap: 0px;
        }
        .brochure {
            text-align: center;
            @include media ("<=tablet") {
                grid-template-columns: 1fr;
                grid-gap: 0px;
                &:last-child {
                    display: none;
                }
            }
            .brochure-img {
                transition: opacity .3s ease-in-out; 
                &:hover {
                    opacity: 0.7;
                }
                img {
                    @include media ("<=tablet") {
                        height: 150px;
                    }
                }
            }
            .brochure-text {
                margin-top: 10px;
                margin-bottom: 3px;
                color: #787878;
            }
            .downloadPDF {
                text-decoration: none;
                color: #1a3255;
                font-weight: 600;
                font-size: 14px;
                transition: opacity .3s ease-in-out; 
                &:hover {
                    opacity: 0.7;
                }
                img {
                    height: 12px;
                }
            }
        }
    }
}