.section-image {
    img {
        height: 300px;
        width: 100%;
    }
    .mobile {
        display: none;
    }
    @include media ("<tablet") {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
       }
}