.services-list {
    display: none;
    @include media ("<tablet") {
        display: flex;
        flex-direction: column;
    }
    .services-item {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #787878;
        &:last-child {
            border-bottom: none; 
        }
        @include media ("<tablet") {
            margin-top: 10px;
            padding-bottom: 10px;
        }
        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            color: #787878;   
            transition: opacity .3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }          
        }
        img {
            border-radius: 50%;
            height: 112px;
            margin: 0 20px 0 0;
            @include media ("<tablet") {
                height: 60px;
                margin: 0 10px 0 0;
            }
        }
        p {
            font-size: 23px;
            margin: 0;
            max-width: 500px;
            @include media ("<tablet") {
                font-size: 18px;
            }
        }
    }
    .icon1 {img {background: #769eca;}}
    .icon2 {img {background: #1a3255;}}
    .icon3 {img {background: #6c6b86;}}
    .icon4 {img {background: #869bac;}}
    .icon5 {img {background: #92a4bc;}}
    .icon6 {img {background: #55575a;}}
    .icon7 {img {background: #c0b5cf;}}
    .icon8 {img {background: #cfb5c1;}}
}