.wrapper-slider {
    max-width: 775px;
    text-align: center;
    margin: 65px auto 0 auto;
    @include media ("<widescreen") {
        max-width: 750px;
    }
    @include media ("<desktop") {
        max-width: 500px;
    }
    @include media ("<tablet") {
        display: none;
    }
    .slider-item { 
        img {
            height: 112px;
            border-radius: 50%;
        } 
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            transition: opacity .3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            margin-top: 25px;
            color: #787878;
        }
    }
    .icon1 {img {background: #769eca;}}
    .icon2 {img {background: #1a3255;}}
    .icon3 {img {background: #6c6b86;}}
    .icon4 {img {background: #869bac;}}
    .icon5 {img {background: #92a4bc;}}
    .icon6 {img {background: #55575a;}}
    .icon7 {img {background: #c0b5cf;}}
    .icon8 {img {background: #cfb5c1;}}  
}
.slick-prev {
    height: 70px;
    width: 40px;
    top: 70px;
    left: -80px;
    &::before {
        content: url(../images/left-arrow-slider.svg);
    }
}
.slick-next {
    height: 70px;
    width: 40px;
    top: 70px;
    right: -80px;
    &::before {
        content: url(../images/right-arrow-slider.svg);
    }
}