.wrapper-slider {
    max-width: 775px;
    text-align: center;
    margin: 65px auto 0 auto;
    @include media ("<=widescreen") {
        max-width: 750px;
    }
    @include media ("<=desktop") {
        max-width: 500px;
    }
    @include media ("<=tablet") {
        display: none;
    }
    .slider-item {  
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            transition: opacity .3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            margin-top: 25px;
            color: #787878;
        }
    }
}
.slick-prev {
    height: 70px;
    width: 40px;
    top: 70px;
    left: -80px;
    background: url(../images/left-arrow.svg) no-repeat center center / cover!important;
    &::before {
        display: none;
    }
    &:hover, &:focus {
        opacity: 0.6;
        outline: none;
    }
  
}
.slick-next {
    height: 70px;
    width: 40px;
    top: 70px;
    right: -80px;
    background: url(../images/right-arrow.svg) no-repeat center center / cover!important;
    &::before {
        display: none;
    }
    &:hover, &:focus {
        opacity: 0.6;
        outline: none;
    }
}