.tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/tax-bg.jpg) no-repeat center top / cover;
    min-height: 360px;
    padding: 85px 0 120px 0; 
    @include media ("<=desktop") {
        padding: 60px 0;
    }
    .h2 {
        color: #fff;
        &::after {
            background-color: #769eca;
        }
    }
    p {
        font-size: 18px;
        text-align: center;
        color: #fff;
        margin: 27px 0 32px 0;
        max-width: 90vw;
    }
    .btn-tax {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #fff;
        background: transparent;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        width: 170px;
        min-height: 50px;
        padding: 5px;
        transition: background-color .3s ease-in-out; 
        .fa-arrow-right {
            font-size: 12px;
            margin-left: 10px;
        }
        &:hover {
            background-color: #3b648d;
        }
    }
}
