.tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/tax-bg.jpg) no-repeat center / cover;
    padding: 85px 0 80px 0; 
    @include media ("<=desktop") {
        padding: 20px 0;
    }
    .h2 {
        color: #fff;
        &::after {
            background-color: #769eca;
        }
    }
    p {
        font-size: 18px;
        text-align: center;
        color: #fff;
        margin: 30px 0 35px 0;
        max-width: 90vw;
    }
    .btn-tax {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #fff;
        background: transparent;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        min-width: 170px;
        max-width: 170px;
        min-height: 50px;
        transition: .3s ease-in-out; 
        img {
            margin-left: 10px;
            height: 10px;
        }
        &:hover {
            background: #3b648d;
        }
    }
}
