.title {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    z-index: 9;
    .h1 {
        max-width: 500px;
        color: #fff;
        font-size: 36px;
        font-weight: lighter;
        font-style: italic;
        line-height: 1;
        @include media ("<=desktop") {
            font-size: 27px;
            max-width: 90%;
           }
        &::after {
            background-color: #fff;
            display: block;
            content: "";
            margin: 30px auto 0 auto;
            height: 1px;
            width: 250px;
        }
    }
}
.scroll { 
    display: flex;
    justify-content: center;
    margin-right: 40px;
    a {
        z-index: 9;
        img {
            position: absolute;
            bottom: 80px;
            left: auto; 
            height: 40px;
            padding: 5px;
            border: 1px solid #fff; 
            transition: background-color .3s ease-in-out; 
            &:hover {
                background-color: #3b648d;
            }
        }
    }
}
.btn-video {
    position: absolute;
    bottom: 45px;
    right: 55px;
    z-index: 10;
    @include media ("<=desktop") {
        display: none;
       }
    button {
        outline: none;
        border: none;
        background: transparent;
        color: #fff;
        transition: color .3s ease-in-out;
        &:hover {
            color: #438bd3;
        }
    }
    img {
        margin-left: 10px;
        height: 18px;
    }
}