.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 0 80px 0;
    border-bottom: 1px solid #000;
    background: #fff;
    z-index: 15;
    @include media ("<desktop") {
        padding: 20px 0;
    }
    .h3 {
        margin: 35px auto 0 auto;
        @include media ("<desktop") {
            font-size: 25px;
            width: 100%;
            margin: 20px auto 0 auto;
        }
        @include media ("<phone") {
            font-size: 23px;
        }
    }
    .text-desktop {
        column-count: 2;
        column-gap: 20px;
        text-align: left;
        font-size: 14px;
        line-height: 1.5;
        color: #787878;
        max-width: 970px;
        margin: 35px auto 0 auto;
        p {
            display: grid;
        }
        @include media ("<widescreen") {
            width: 100%;
            margin: 20px auto 0 auto;
        }
        @include media ("<tablet") {
            column-count: 1;
            column-gap: 10px;
            overflow-y: hidden; 
            overflow-x: scroll;
            max-height: 400px;
        }
    }
}